
<!-- 
     <div id="themap" style="position:absolute; z-position:2;"></div> 
 -->

        <div id="themap" style="position:absolute; z-index:2;"></div>
        <div class="push"></div>

        <div class="actions" style="position:absolute; z-index:20;top:40px;left:40px;width:200px;height:100px;">
            <button id="geobutton" class="btn btn-primary">
                getPosition
            </button>
        </div>

        <div class="footer" style="position:absolute; z-index:1; bottom:20px;">
            <p>
                Copyright (c) 2013
            </p>
        </div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-x0JdV9GE1C39uo8cmI-LZ4vS5tuMZRM&amp;sensor=true">
</script>

<script type="text/javascript">

    var gmap;
    var gpsSvc = new VB.BrowserLocation();
    var locator = new VB.StationLocator();
    var colors = [
    '#E8400C',
    '#FFAB25',
    '#FF0082',
    '#830CE8',
    '#0935FF'
    ];

    function initialize() { //called back from google loader
        var mapOptions = {
            center: new google.maps.LatLng(52.516012,13.418126),
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        gmap = new google.maps.Map(document.getElementById("themap"), mapOptions);
        var polyLines = [];
        var markers = [];
        google.maps.event.addListener(gmap, 'click', function(e) {
            _.each(polyLines, function(pl) {
                pl.setMap(null);
                pl = null;
            })
            _.each(markers, function(m) {
                m.setMap(null);
                m = null;
            })
            var latlng = { lat:e.latLng.lat(), lng: e.latLng.lng() };
            locator.findLines(latlng, function(lines) {

                console.dir(lines);

                var polyOptions = {
                    strokeOpacity: 1.0,
                    strokeWeight: 3
                };
                _.each(lines, function(line) {
                    polyOptions.strokeColor = colors[_.random(colors.length)];
                    var poly = new google.maps.Polyline(polyOptions);
                    poly.vbbLine = line;
                    google.maps.event.addListener(poly,'click', function(e) {
                       alert(this.vbbLine.line);
                    });
                    polyLines.push(poly);
                    poly.setMap(gmap);
                    var path = poly.getPath();
                    _.each(line.stations, function(station) {
                        var latLng = new google.maps.LatLng(station.loc.lat, station.loc.lng);
                        path.push(latLng);

                        var marker = new google.maps.Marker({
                            position: latLng,
                            map: gmap,
                            title:"[" + line.line + "] " + station.name
                        });

                    });
                });
            });
        });

    }

    google.maps.event.addDomListener(window, 'load', initialize);

$( function() {
    var disable;
    $('#geobutton').on('click', function(evt) {
        gpsSvc.getNavigatorLocation(function(pos) {
            var gmPos = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
            gmap.setCenter(gmPos);

            //$('#posResult').html(latlng.lat + " " + latlng.lng );
        })
    });
});


</script>
