
  <div id="themap"></div>

    <div class="overlay">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
    </div>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-x0JdV9GE1C39uo8cmI-LZ4vS5tuMZRM&sensor=true">
    </script>
    <script type="text/javascript">
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(-34.397, 150.644),
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("themap"), mapOptions);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>


