<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel='stylesheet' href='/stylesheets/style.css' type="text/css">
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' type="text/css">
        <script type="text/javascript" src="js/bootstrap.min.js">
</script>
        <style type="text/css">
.container-fluid {
        background: rgba(0, 0, 0, 0);
        }
        .container-fluid .page-header {
        background: rgba(0, 0, 0, 0);
        }
        .container-fluid p {
        background: rgba(0, 0, 0, 0);
        }
        </style>
    </head>
    <body>


<%- body %>
</body>
</html>
