<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel='stylesheet' href='/stylesheets/style.css' type="text/css">
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' type="text/css">
        <script type="text/javascript" src="js/bootstrap.min.js">
</script>
       
    </head>
    <body>


<%- body %>
</body>
</html>
