<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' type="text/css">
        <link rel='stylesheet' href='/stylesheets/ribbon.css' type="text/css">
        <link rel='stylesheet' href='/stylesheets/style.css' type="text/css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>

        <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.2.1/lodash.underscore.min.js"></script>

        <script type="text/javascript" src="js/veebibi.js"></script>

    </head>
    <body>
        <%- body %>
    </body>
</html>