<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.2.1/lodash.underscore.min.js"></script>

        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/veebibi.js"></script>

        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' type="text/css">
        <link rel='stylesheet' href='/stylesheets/style.css' type="text/css">

        <style type="text/css">

        .container-fluid {
        background: rgba(0, 0, 0, 0);
        }
        .container-fluid .page-header {
        background: rgba(0, 0, 0, 0);
        }
        .container-fluid p {
        background: rgba(0, 0, 0, 0);
        }
        </style>
    <body>
<%- body %>
</body>
</html>
