<button id="geobutton" class="btn btn-primary">
getPosition
</button>

        <div> your pos: <span id="posResult"></span></div>

        <div> Heloo </div>
<script type="text/javascript">
    var gpsSvc = new VB.BrowserLocation();
    var locator = new VB.StationLocator();

    $( function() {
        var disable;
        $('#geobutton').on('click', function(evt) {
            gpsSvc.getNavigatorLocation(function(pos) {
                var latlng = { lat:pos.coords.latitude, lng: pos.coords.longitude };
                locator.findStation(latlng);
                //$('#posResult').html(latlng.lat + " " + latlng.lng );
            })
        });

    })


</script>
