* {
    margin: 0;
}
html, body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1em;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.footer, .push {
    height: 5em;
}

a {
  color: #00B7FF;
}

#themap {
    position:fixed !important;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

#themap img {
    max-width: none;
}

a:hover { background-color:white; text-decoration:none;  }

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -2em;
}

.well {
    margin:70px;
    background: rgba(11, 11, 11, 0.5);
    width: auto;
    height: auto;
    color: #222;
    -webkit-font-smoothing: antialiased;
}

h1{
    color:#FFFFFF;
    text-shadow:   0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    font-size: 80px;
}
h3 {
    color: #EEE;
}

em {
    font-weight: bold;
    font-style: normal;
    background-color: white;
    color: black;
    padding: 0 2px;
}

p{
    color:#FFFFFF;
}


.thumbnails {

}
.thumbnails .span4 {
    width: 200px;
}
.thumbnails .span4 .thumbnail p {
    text-align: center;
    color:black;
}
.thumbnails .span4 .thumbnail .btn-group .btn-info {
    background: #5b86de;
}
.thumbnails .span4 .thumbnail .btn-group .btn-success {
    background: #c34646;
}

#mega-backdrop {
    position:fixed;
    top:0;left:0;
    width:100%;height:100%;
    background:black;
    opacity:0.6;
    z-index:15;
}
#footer {
    position:fixed; width:100%;left:0;height:40px;
    z-index:30; bottom:0px;
    background: rgba(18, 22, 17, 0.74902);
    height: 20px;
    padding: 10px;
}

#loading-indicator {
    text-align: center;
    position: relative;
    font-size: 50px;
    height: 100%;
    margin-top: 20%;
}

#flag {
    position:fixed;
    width:180px;
    overflow:hidden;
    height:50px;
    background-color:white;
    padding:5px;
    bottom:50px;
    right:20px;
    box-shadow: 1px 1px 2px;
    z-index:50;
}